<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=hol3tanner;AccountKey=j8TDeVDXFrTSXdybJCGDcJOhBJIAXXeX7ouRFZFwnmxaBPRYaV/j8x+XQKqGHo1MuAnAKFM8kfcmeGqttciwyw==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>